body {
  background-color: #17324f;
  color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.App-header {
  margin-bottom: 2rem;
}

.App-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.appTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.highlight {
  color: #ff5252;
}

.appContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.inputContainer {
  flex: 0 0 300px; /* Set a fixed width for the UserMenu */
  margin-right: 20px; /* Add some space between UserMenu and other components */
}

.taxComponentsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.form-group {
  margin-bottom: 1rem;
}

.toggle-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  color: #000000;
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: background-color 0.3s;
}

.toggle-button.active {
  background-color: #96D294;
  color: #000000;
}

.toggle-button-small {
  font-size: 0.7rem;
  padding: 2px 4px;
}

.toggle-button:focus {
  outline: none;
}

fieldset {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 500px;
}

fieldset legend {
  padding: 0 5px;
  font-weight: bold;
}

.pension-input-container {
  display: flex;
  flex-direction: column;
}

.pension-input {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.pension-input label {
  width: 200px;
}

.pension-input input,
.pension-input select {
  margin-left: 8px;
}

.warning-message {
  color: rgb(255, 147, 147);
  font-size: 0.9em;
  margin-top: 5px;
}

.number-cell {
  font-weight: bold;
  text-align: right;
  width: 150px;
}

.breakdown-number {
  font-weight: normal;
  width: 150px;
  font-size: 0.8em;
}

.breakdown-description {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  padding: 2%;
  text-align: center;
  font-size: 14px;
  background-color: inherit; /* Use the same background color as the body */
  border-top: 1px solid #e3e3e3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; /* Add this line to make the footer take the full available width */
  box-sizing: border-box; /* Add this line to include padding in the width calculation */
}

a, a:hover, a:active, a:visited { color: white; }
